@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

@theme inline {
    --font-manrope: var(--font-manrope);
    --font-caveat: var(--font-caveat);

    --font-sans: var(--font-manrope);
}

@utility reverse-grid {
    display: grid;
    grid-auto-flow: row dense;
    direction: rtl;
}

@utility reverse-grid-child {
    direction: ltr;
}