---
import {Image} from 'astro:assets';
import IrisEyeSphere from '@/assets/iris-eye-sphere.jpg';
import RobotHorse from '@/assets/robot-horse.jpg';
---
<div class="container mx-auto bg-base-200 p-4 lg:p-8 space-y-12 text-center rounded-box">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:reverse-grid">
        <div class="my-auto">
            <Image
                    src={IrisEyeSphere}
                    alt="Iris Eye Sphere"
                    class="rounded-2xl aspect-video object-cover object-center"
                    width={720}
                    height={480}
            />
        </div>
        <div class="p-4 lg:p-12 xl:p-24 flex flex-col justify-center gap-8">
            <h4 class="text-2xl lg:text-5xl font-black">Esto es un titulo</h4>
            <p class="text-sm lg:text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent
                et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="my-auto">
            <Image
                    src={RobotHorse}
                    alt="Robot Horse"
                    class="rounded-2xl aspect-video object-cover object-center"
                    width={720}
                    height={480}
            />
        </div>
        <div class="p-4 xl:p-24 flex flex-col justify-center gap-8">
            <h4 class="text-2xl lg:text-5xl font-black">Esto es un titulo</h4>
            <p class="text-sm lg:text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent
                et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>
    </div>
</div>