---

---

<div class="hero">
    <div class="hero-content md:text-center">
        <div class="max-w-lg md:max-w-4xl space-y-8">
            <div class="badge py-3 px-4 badge-neutral md:text-lg">
                Conocé nuestros servicios
            </div>
            <div class="text-5xl md:text-8xl font-bold">
                <h1>Soluciones digitales</h1>
                <h1 class="font-caveat text-primary md:transform md:-rotate-4">a tu medida</h1>
            </div>
            <div class="flex  flex-row gap-8 md:justify-center content-center">
                <button class="btn btn-xl btn-primary">Boton 1</button>
                <button class="btn btn-xl btn-ghost">Boton 2</button>
            </div>
        </div>
    </div>
</div>