---
import { Image } from 'astro:assets';
import RobotAndHuman from "@/assets/robot-and-human.jpg";
---

<div class="container mx-auto ">
	<div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="h-full">
            <Image
				src={RobotAndHuman}
				alt="Robot and Human"
				class="rounded-t-box lg:rounded-t-none lg:rounded-l-box object-cover h-full"
				width={720}
				height={720}
			/>
        </div>
        <div class="rounded-b-box lg:rounded-b-none lg:rounded-r-box bg-primary p-6 lg:p-24 space-y-4 lg:space-y-12">
            <h2 class="text-primary-content text-3xl lg:text-5xl font-bold">
                Unite a la revolución digital
			</h2>
			<p class="text-primary-content lg:text-xl">
				Dejanos tu email para recibir novedades y promociones
			</p>
			<form class="flex flex-row gap-2 items-center">
                <label class="flex-1">
                    <input class="input input-lg" type="email" required placeholder="some@email.com" />
                </label>
                <button class="btn btn-outline btn-lg">
                     Suscribirme
                </button>
			</form>
        </div>
	</div>
</div>